@charset "UTF-8";

*{
    margin: 0px auto;
    padding: 0px;
    text-align: justify;

}

main{
    padding-left: 9px;
    width: 97%;
    float: none;
    margin: 0px;
}

p{
    text-indent: 9%;
}

p.date{
    text-indent: 0;

}

.photo{
    float: none;
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.entry{
    border-right: none;
    margin: 0px;
}
.intro{
    margin: 0px;
    padding: 0px;
}

#related{
    margin-left: 3%;
    clear: both;
}

#footer{
    padding: 9px;
}