@charset "UTF-8";

:root{
    --cor0: #eef;
    --cor1: rgba(153, 0, 153, 0.774);
    --cor2: navy;
    --cor3: #74269d;
    --cor4: #c3f;
    --cor5: #ebc6f9;
    --cor6: #909;
}

body{
    background-color: var(--cor0);
    color: var(--cor6);
    font: 100% "Palatino Linotype", Palatino, sans-serif;
}

h1, h2{
    color: var(--cor2);
    font: 1.375em "Arial Black", Arial, sans-serif;
    letter-spacing: .3em;

}

h1{
    text-transform: uppercase; /*deixa todas as letras em maiusculas*/
}

h2{
    font-size: .9375em;
    font-variant: small-caps; /*deixa todas as letras em caixa baixa*/
}

p{
    font-size: .875em;
    line-height: 1.6em;
    text-indent: 1.5em;
}

em{
    font-weight: bold;
}

/* links */

a:link{
    color: var(--cor3);
}

a:visited{
    color: var(--cor6);
}

a:hover{
    color: var(--cor4);
    font-weight: bold;
}

/* Navegação */

nav#toc{
    background: var(--cor5);
}

nav#toc a{
    font-size: .75em;
}